	body,html{
	    background-color: grey;
		height: 100%;		
	}
	#videos{
		position: relative;
		width: 70%;
		height: 100%;
		margin-left: auto;
   		margin-right: auto;
	}
	#subscriber{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;	
	}
	#publisher{
		position: absolute;
		width: 200px;
		height: 200px;
		bottom: 10px;
		left: 10px;
		z-index: 100;
		border: 3px solid white;
  		border-radius: 3px;
	}